<!-- <%- include("templates/header") %> -->

<form id="champion-input-form" action="/update?tar=<%-target%>" method="post" required>
  <div class="input-group">
    <div class="form-floating">
      <input name="champName" type="text" class="form-control" id="floatingInput" placeholder="Champion Name" required />
      <label for="floatingInput">Champion Name</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-primary btn-lg px-4" type="submit">Enter</button>
    </div>
  </div>
</form>

<!-- <%- include("templates/footer") %> -->