<%- include("templates/header") %>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="AngryOtter.jpg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Error 404S!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">You may have typed something in wrong, just follow the buttons and you'll do fine</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button onclick="window.location.href='/'" type="button" class="btn btn-primary btn-lg px-4 gap-3">Home</button>
      </div>
    </div>
  </div>
<%- include("templates/footer") %>