<%- include("templates/header") %>
<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Welcome</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"></p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button onclick="window.location.href='/login'" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Log in</button>
      <button onclick="window.location.href='/createUser'" type="button" class="btn btn-primary btn-lg px-4">Sign up</button>
    </div>
  </div>
</div>
<%- include("templates/footer") %>
