<%- include("templates/header") %>
<div class="container">
  <div class="d-grid gap-2 justify-content-sm-center mb-5" id="home-welcome-text">
    <h1 id="greeting">Welcome <%- name %></h1>
    <br>
    <a href="/eggCount">
      <img class="d-block mx-auto mb-4" id="in-image" src="<%- image %>" alt="" width="400">
    </a>
    <button onclick="window.location.href='/findTeam'" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Join a Team Room</button>
    <button onclick="window.location.href='/createTeam'" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Create a Team Room</button>
  </div>
</div>
<%- include("templates/footer") %>