<nav class="back-nav">
  <button class="nav-back-btn" onclick="goBack()"><img src="/svg/back-arrow.svg" alt=""></button>
</nav>
<script>
  const goBack = () => {
    window.history.back();
  }
</script>