<div class="container">
  <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <div>
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <img src="logo.jpg" alt="" class="footer-logo">
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© SyneRift, Inc</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg></a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <p class="privacy-policy">Our website respects the privacy of its users. We are committed to protecting any personal information that you may provide while using our website. Please note that this is a fictional privacy policy and does not reflect any actual data collection or privacy practices.</p>
    </div>
    <div class="col-md-4">
      <p class="attribution">© 2023 SyneRift, Inc. All rights reserved.
        This website is powered by SyneRift and uses various open-source technologies and resources. League of Legends is a registered trademark of Riot Games, Inc. Images sourced from Riot Games.</p>
    </div>
  </footer>
</div>
</body>

</html>