<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SyneRift</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <header class="d-flex justify-content-between py-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
          <li class="nav-item">
            <a href="/profile" class="nav-link">Profile</a>
          </li>
        </ul>
        <button
          type="button"
          class="btn btn-outline-primary"
          onclick="window.location.href='/logout'"
        >
          Log Out
        </button>
      </header>
    </div>
  </body>
</html>
