<%- include("head") %>
<div class="container">
  <header class="d-flex justify-content-between py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/in" class="nav-link" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a href="/rooms" class="nav-link">Rooms</a></li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/picks" class="nav-link">Champions</a>
      </li>
    </ul>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/logout'">
      Log Out
    </button>
  </header>
</div>