<div class="opponent-card col-3 p-0">
  <div class="image-container container d-flex justify-content-center align-items-center h-100 w-100">
    <img class="rounded-circle img-fluid mx-auto d-block" src="AngryOtter.jpg" alt="">
  </div>
</div>