<div>
  <div class="image-container container d-flex justify-content-center align-items-center h-50 w-50" onclick="handleChampClick()" data-id="pick<%= position + 1 %>">
    <img class="rounded-circle" src="<%= champ !== 'blank' ? imgURL : '/svg/plus.svg' %>"alt="">
  </div>
</div>