<ul class="list-group list-group-horizontal team-comp-row">
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
</ul>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
  <li class="list-group-item"><img src="/img/Aatrox_0.jpg" alt=""></li>
</ul>