<div class="container team-info">
  <div class="team-info-content">
    <div class="inline">
      <h1 class="display-4"><%- teamName %></h1>
      <button type="button" id="copyButton">
        <img src="/svg/copy-icon.svg" alt="Copy Icon">
      </button>
    </div>
    <p>(<%- teamCode %>)</p>
  </div>

</div>
<script>
  const copyLink = () => {
    const link = "<%- link %>";

    // Create a temporary input element
    const tempInput = document.createElement('input');
    tempInput.value = link;
    document.body.appendChild(tempInput);

    // Select the input field
    tempInput.select();
    tempInput.setSelectionRange(0, link.length);

    // Copy the link to the clipboard
    document.execCommand('copy');

    // Remove the temporary input element
    document.body.removeChild(tempInput);
  };

  const copyButton = document.getElementById('copyButton');
  copyButton.addEventListener('click', copyLink);
</script>