<li>
    <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"> -->
   		<%= user.username %> <br>
        <button onclick="window.location.href='/updateAdmin?user=<%= user.username %>'" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Make Admin</button>
        <button onclick="window.location.href='/updateBasic?user=<%= user.username %>'" type="button" class="btn btn-outline-secondary btn-lg px-4">Make Basic User</button>
      <!-- </div> -->
</li>