:root {
  --gold1: #F0E6D2;
  --gold2: #C89B3C;
  --gold3: #32281E;
  --blue1: #0A323C;
  --blue2: #091428;
  --blue3: 0,90,130;
  --black: #010A13;
  --grey: #1E282D;
  --grey2: rgb(30,35,40);
  --blackHex: 1,10,19;
  /* Overrides */
  --primary: var(--gold1);
  --bs-heading-color: var(--gold1);
  --bs-emphasis-color: var(--gold1);
  --bs-secondary-color: var(--gold2);
  --bs-body-bg: var(--black);
  --bs-body-color: var(--gold1);
  --bs-body-color-rgb: 240, 230, 210;
  --bs-border-color: var(--gold1);
  /* bs nav */
  --bs-link-color: var(--gold1);
  --bs-link-hover-color: var(--gold2);
}

@font-face {
  font-family: 'BeaufortForLoL';
  src: url('../fonts/BeaufortforLOL-Regular.otf') format('opentype'),
  url('../fonts/BeaufortforLOL-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spiegel';
  src: url('../fonts/Spiegel-Regular.otf') format('opentype'),
  url('../fonts/Spiegel_TT_Regular.ttf') format('truetype');
}

html {
  background-color: var(--black);
}

body {
  font-family: 'Spiegel', Arial, sans-serif;
  /* background-color: var(--blue2); */
  /* background-image: url("/img/summoners_rift_platform.webp"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: brightness(0.7); */
}

h1, p, span {
  margin: 0;
  color: var(--gold1);
}

p {
  margin: 0;
}

/* hr {
  height: 2px;
  width: 50%;
  /* background-color: var(--gold2); */
  background-image: linear-gradient(to right, var(--gold1), var(--gold2));
} */

header {
  background-color: var(--black);
}

.container.team-info {
  display: flex;
}

.room {
  height: 100%;
}

.container.room {
  position: relative;
  background-image: url("/img/summoners_rift_platform.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(rgba(10,50,60,0.9), var(--black));
}

/* home page */
.container-home {
  position: relative;
  background-image: url("/img/summoners_rift_platform.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  z-index: 0;
}

#overlay-home {
  background: linear-gradient(to bottom, rgba(10,50,60,0.1), var(--black));
}

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-1 {
  height: 30vh;
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  height: 100%;
  width: 100%;
}

.compass-border {
  position: absolute;
  padding: 2px;
  width: 100%;
  animation: rotate 36s infinite linear;
}

.compass-inner {
  position:absolute;
  border-radius: 50%;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--gold2);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**/

/* mod */
.form-control:focus {
  box-shadow: 0 0 2px 1px var(--gold2); /* Change to your desired color */
  border-color: var(--gold2); /* Change to your desired color */
  /* Additional styles if needed */
}

/**
  * Room
  */
.content {
  position: absolute;
  z-index: 2;
}

.room-cards {
  color: var(--gold2);
  margin-bottom: 10px;
  /* height: 80%; */
}

.row {
  height: 20%;
  min-height: 90px;
}

.team-info {
  color: var(--gold1);
  justify-content: center;
}

.info-container {
  display: flex;
  padding: 10px;
  align-items: center;
}

.rounded-circle {
  border: 3px solid var(--gold2);
  margin: 2%;
  max-width: 100%;
  max-height: 120px;
  object-fit: cover;
}

.rounded-circle:hover {
  border: 5px solid var(--gold1);
}

.button {
  border: 2px solid var(--gold2);
  padding: 5px;
  display: flex;
  justify-content: center;
  color: var(--gold2);
  background-color: var(--grey);
}

.btn-primary {
  color: var(--gold1);
  background-color: var(--grey2);
  border-color: var(--gold1);
  --bs-btn-active-color: var(--gold2);
  --bs-btn-active-bg: var(--blue2);
  --bs-btn-active-border-color: var(--gold2);
}

.btn-primary:hover {
  color: var(--gold2);
  background-color: var(--grey);
  border-color: var(--gold2);
}

#copyButton {
  background-color: transparent;
  border: none;
}

#copyButton img {
  height: 20px;
  width: 20px;
  padding-left: 5px;
}

#copyButton:active img {
  height: 18px;
  width: 18px;
}

.inline {
  display: flex;
  align-items: center;
}

.team-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
}

/* .border-2 {
  position: absolute;
  top: 0;
  left: 0;
  fill-opacity: 0;
  border: 2px solid var(--gold2);
  max-width: 90%;
  max-height: 90;
} */

.team-comp-row {
  width: 100%;
}

.list-group-item img {
  width: 100%;
}

/* Header */
header {
  background-color: rgb(1, 10, 19);
}

/* champion input */
.input-group-append .btn {
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* bans component*/
.container.bans {
  padding: 0;
  display: flex;
  margin: 10px 0;
}

.bans-row {
  width: 50%;
  position: relative;
}

.list-group-item {
  width: 20%;
  padding: 0;
}

.ban-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--blackHex),0.7);
}

.ban-img {
  position: absolute;
  height: 40%;
  width: 40% !important;
  z-index: 2;
  bottom: 2px;
  left: 30%;
  background-color:rgb(1, 10, 19);
  padding: 2px;
  border-radius: 50%;;
}

/* Champion selection card */
.blue > .info-container {
  order: 2;
}

.red > .info-container {
  text-align: right;
  justify-content: end;
}

.champ-card.blue.active {
  /* background: linear-gradient(to left, rgba(var(--blue3), 0.5), rgba(var(--blue), 0.3)); */
  background: linear-gradient(to right, rgba(0,90,130,0.5), rgba(0,90,130,0));
}

.champ-card.red.active {
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.5));
}