<div class="container bans collapse" id="teams">
  <ul class="list-group list-group-horizontal bans-row">
    <% for (i = 0; i < 5; i++) { %>
    <li class="list-group-item">
      <img class="" src="/img/Garen.png" alt="">
    </li>
    <% } %>
  </ul>
  <ul class="list-group list-group-horizontal bans-row">
    <% for (i = 0; i < 5; i++) { %>
    <li class="list-group-item">
      <img class="" src="/img/Garen.png" alt="">
    </li>
    <% } %>
  </ul>
</div>